body {
  background-color: #66CCFF;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#container {
  display: flex;
  justify-content: center;
}

#body {
  display: block;
  padding: 50px 0px;
}