.btn-group {
    text-align: center;
}

input {
    border: none;
    border-radius: 0.25em;
    height: 38px;
    width: 300px;
    text-align: center;
}

button {
    background-color: lightseagreen;
    border: 2px solid white;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 17px;
    width: 150px;
    height: 38px;
    border-radius: 0.25em;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: lightseagreen;
    border: 2px solid lightseagreen;
}